
html, body {
    height: 100%;
    overflow: hidden;  /* damit es nicht scrollt */
}

body {
    background-color: rgb(181, 33, 29);
    font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

/* margin 0 damit alle standart Abstände neutralisiert werden */

p {
    margin: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.header {
    margin: 0; 
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(254, 192, 205);
}

.header h1 {
    font-size: medium;
}

.description {
    margin: 0; 
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: right;
    color: rgb(254, 192, 205);
}

.description h1 {
    font-size: medium;
}

.description a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}

.description a:hover {
    color: rgb(42, 27, 8);
}


.grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(9, 1fr); /* anstelle von 1fr 1fr 1fr... */
    grid-template-areas:
    "image-5 image-3 image-7 image-6 text image-9 image-4 image-8 image-2";
    padding: 0px 80px;
    margin: auto;
    margin-top: 340px;

}

.text {
    grid-area: text;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
}
.image-5 {
    grid-area: image-5;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}

.image-wrapper {
    position: relative;
}

.image-wrapper input[type="checkbox"] {
    display: none; /* damit keine Häkchen */
}

.image-wrapper input[type="checkbox"]:checked + label img {
    position: fixed; /* orientiert sich nicht mehr am Layout sondern am Bildschirm */
    top: 50%;
    left: 50%; /* das es in der Mitte ist */
    transform: translate(-50%, -50%) scale(1.1);
    z-index: 9999; /* über alles */
    max-width: 80vw; 
    max-height: 80vh; /* nicht grösser als Bildschirm */
    cursor: zoom-out;
}

.bottom-bar {
    display: flex;
    justify-content: space-between; /* Bilder werden gleichmässig verteilt */
    align-items: flex-end;
    padding: 0 10px 0 5px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.picture {
    margin: 0; 
white-space: pre;
line-height: 1;
 margin-top: 0;
 margin-bottom: -30px; 
 margin-left: -63px;
 color: rgb(254, 192, 205);
}

.picture a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}

.picture a:hover {
    color: rgb(42, 27, 8);
}



.footer {
    margin: 0; 
    margin-top: 0;
    margin-bottom: 10px;
    text-align: right;
    color: rgb(254, 192, 205);
  
}


.footer h1 {
    font-size: medium;
}
