@font-face {
font-family: "PicNic";
src: url("fonts/PicNic.woff2") format("woff2");
}

body {
    background-color: orangered;
    font-family: "PicNic", serif;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name ."
    ". . . bio"
    "image-1 image-1 image-1 ."
    ". . . text-1"
     "image-2 image-2 image-2 ."
    ". . . text-2"
     "image-3 image-3 image-3 ."
    ". . . text-3";
}

.name {
grid-area: name;
}

.name h1 {
    text-align: center;
    font-size: 100px;
    margin: 0;
    margin-top: 100;
    color: plum;
}

.bio{
    grid-area: bio;
    align-self: center;
}

.bio p {
    color: plum;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
grid-area: text-1;
color: plum;
font-size: 30px;
}

.text-2 {
grid-area: text-2;
color: plum;
}

.text-3 {
grid-area: text-3;
color: plum;
}