@font-face {
font-family: "PicNic";
src: url("fonts/PicNic.woff2") format("woff2");
}

body {
    background-color: orangered;
    font-family: "PicNic", serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: chocolate;
}

.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name ."
    ". . . bio"
    "image-1 image-1 image-1 ."
    ". . . text-1"
     "image-2 image-2 image-2 ."
    ". . . text-2"
     "image-3 image-3 image-3 ."
    ". . . text-3";
}

.name {
grid-area: name;
position: sticky;
top: 15px;
mix-blend-mode: difference;
z-index: 15;
}

.name h1 {
    text-align: center;
    font-size: 100px;
    margin: 0;
    margin-top: 100;
    color: white;
    transition: color 0.5 ease;
}

.name h1:hover {
    color: plum;
    cursor: pointer;
}

.bio{
    grid-area: bio;
    align-self: center;
}

.bio p {
    color: plum;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.bio p:hover {
    opacity: 0.5;
}

.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-1 img{
    transition: opacity 0.5s ease;
}

.image-1 .b {
position: absolute;
top: 0;
left: 0;
opacity: 0;
}

.image-1:hover .a {
    opacity: 0;
}

.image-1:hover .b {
    opacity: 1;
}

.image-2 {
    grid-area: image-2;
    position: relative;
    top: -100px;
    left: -100px;
}

.image-2 img{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.image-2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}


.image-3 {
    grid-area: image-3;
}

.image-3 img {
    transition: transform 0.5 ease;
}

.image-3 img:hover {
    transform: rotate(10deg) scale(1.5);
}

.text-1 {
grid-area: text-1;
color: plum;
}

.text-2 {
grid-area: text-2;
color: plum;
}

.text-3 {
grid-area: text-3;
color: plum;
}