

body {
    background-color: orangered;
    font-family: "ocr-a-std", monospace;
font-weight: 400;
font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


.header {
    margin-top: 20;
    margin-bottom: 0px;
}

.header h1 {
    font-size: medium;
}

.description {
    margin-top: 20;
    margin-bottom: 0px;
    text-align: right;
}

.description h1 {
    font-size: medium;
}


.grid-container {
    display: grid;
    padding: 10px 60px;
    gap: 5px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    "image-2 image-3 image-4 image-5 text-1 image-6 image-7 image-8 image-9";
    margin: auto;

}



.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
}
.image-5 {
    grid-area: image-5;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}


.text-1 {
min-width: 0;
overflow-wrap: break-word;
grid-area: text-1;
color: plum;
}

.picture {
white-space: pre-wrap;
 margin-top: 0;
 margin-bottom: 0px;
}

.footer {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
}

.footer h1 {
    font-size: medium;
}